@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Play:wght@400;700&display=swap');



:root {
  --bg: #0f0f0f;
  --text: #ffffff;
  --accent1: #ff0055;
  --accent2: #00ffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
   font-family: 'Play', sans-serif;
  font-weight: 900;
  font-style: normal;
  scroll-behavior: smooth;

}


.btn:hover{
    transform: scale(1.05);
    transition: 0.9s ease-in-out;
    background-color: black;
}


.card-img{
    height: 250px;
    object-fit: cover;
    position: center;
    max-width: 18rem;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.text-success {
  font-size: 20px;
}