@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

:root {
  --bg: #0f0f0f;
  --text: #ffffff;
  --accent1: #ff0055;
  --accent2: #00ffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Audiowide", cursive;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  scroll-behavior: smooth;
}

.main {
  /*container principal que leva todo o conteudo*/
  min-width: 100dvw;
  height: 100dvh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/stars-7088.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f0f0f0;
}

.textos {
  max-width: 98vw;
  width: 80vw;
  border: 1px solid rgb(52, 48, 48);
  padding: 10px;
  margin-bottom: 20px;
  backdrop-filter: blur(5px);
  margin-top: 20px;
  border-radius: 10px;
  word-wrap: break-word;
  background: linear-gradient(90deg, var(--accent1), var(--accent2));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titulo {
  /*referente ao titulo principal do programa*/
  font-family: "Play", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 32px;
  color: white;
  padding: 0 10px;
  font-size: 2.5rem;
  z-index: 9;
}

.explicacao {
  /*paragrafo que explica o funcionamento do programa*/
  text-align: center;
  margin-bottom: 18px;
  font-size: 1.05rem;
  color: #cdc3c3;
}

.container {
  /*container responsavel pela secao formulario*/
  max-width: 98vw;
  width: 95vw;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 10px;
}

form {
  /*estilização do formulario*/
  border: 1px solid rgb(52, 48, 48);
  height: 400px;
  max-width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  backdrop-filter: blur(5px);
  flex-grow: 1;
  min-width: 0;
}

input {
  /*input's do formulario*/
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 20px;
  border-radius: 10px;
  background-color: darkgray;
  min-width: 0;
}

label {
  margin-right: 10px;
  font-size: 20px;
  color: aliceblue;
  font-weight: bold;
}

.btn-button {
  /*botao de envio do formulario*/
  padding: 12px;
  background-color: var(--accent2);
  border: none;
  font-weight: bold;
  font-size: 20px;
  width: 40%;
  max-width: 44%;
  border-radius: 10px;
  margin-top: 8px;
  font-family: "Play", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 0.9s ease;
}

.respostas {
  /*seção que carrega os campos de respostas*/
  border: 1px solid #2e2c2c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 17px;
  max-width: 98dvw;
  height: 400px;
  border-radius: 5%;
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  transition: transform 0.7s cubic-bezier(0.4, 2, 0.6, 1), box-shadow 0.7s;
  transform-style: preserve-3d;
  perspective: 800px;
  flex-grow: 1;
}

.respostas.show-flip {
  /* Quando a resposta for exibida, adiciona a classe .show-flip */
   animation: flipY 0.7s cubic-bezier(0.4, 2, 0.6, 1);
  box-shadow: 0 0 30px var(--accent2);
}

@keyframes flipY {
  0% {
    transform: scale(0.0)
  }
  20% {
    transform: scale(0.1);
  }
  40% {
    transform: scale(0.3);
  }
  60% {
    transform: scale(0.6)
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
 
}

/*Formatação das imagens que aparecrem como respostas*/
.resp-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  width: 40%;
  max-height: 80%;
  height: 60%;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.resp-img img{
  max-height: 250px;
  height: 200px;
}

/*texos que levam as respostas*/
h2 {
  color: rgb(246, 8, 8);
}

.resp-triangulo {
  margin-bottom: 20px;
  color: var(--accent1);
}

/*config de foco para os inputs do tipo number*/
input[type="number"]:focus {
  background-color: white;
  font-weight: bold;
}

/*evento de hover ao passar o mouse sobre o botão de envio*/
.btn-button:hover {
  transform: scale(1.03) translateY(-5px);
  border: 1px solid rgb(11, 229, 11);
}
